body{
  margin: 0;
  outline:none;
}
header{
width: 100%;
min-height: 155px;
border-bottom: 4px solid white;
position: absolute
}
/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.logo{
  background-image: url(images/largelogo.png);
  width: 300px;
  height: 61px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
#large-header {
  background-image: url("images/bg.jpg");
}
.main-section{
  color:white;
  position: absolute;
  margin-top:250px;
}

.main-title {
  font-size: 4.6vw;
  font-family: 'Lora', serif;
  font-weight: normal;
  line-height: 0.9;
  margin-bottom: 0;
}

.main-subtitle{
  font-family: 'Open Sans', sans-serif;
font-size: 1.6vw;
font-weight: 100;
margin-top:21.440px!important;
}
.learn{
  text-transform: uppercase;
  color:white;
  font-size: 16px;
  text-decoration:none;
}
button{
  background-color: #213a70;
  border:none;
  width: 140px;
  height: 40px;
  margin-top:20px;
}
a:focus, a:hover {
    color: lightgrey;
    text-decoration: none;
}
.textSec{
  width: 90%;
  margin: auto;
  height:400px;
  background-color: #FFF;
  margin-top:70px;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.contactHeader{
  color: #213a70;
  font-size: 2.04vw;
  width: 75%;
  font-family: 'Lora', serif;
}
.cityInfo{
  line-height: 1.4;
  color:grey;
  margin-top: 0
}
.tel{
  color:grey;
}
.tel > span {
  color:black;
  font-weight:700;
}
.nameCompany{
  margin:0;
  color:#171717;
  width: 330px;
}
.link{
  color:#2450af;
  display:block;
  margin-top:20px;
}
footer{
  margin:0!important;
  height:50px;
  background-color: #6a6868;
}
// .footer{
// display: inline-block;
// vertical-align: middle;
// margin-left: 40%;
// }
.foot {
  font-size:1em;
  color:white;
  margin-top: 1%
}
.first{
  margin-left:100px;
  width: 21%
}
.container-fluid{
  padding:0;
}
.large-header >.row{
  margin-right: 0;
margin-left: 0;
}
@media (min-width: 750px) { 
.textSec{
  width: 100%;
  }
  .nameCompany{
    width: 244px;
  }
 }
 @media (max-width: 749px) { 
  .contactHeader {
    font-size:1.6em;
        width: 100%;
  }
  .textSec{
    height:480px;
  }
  .nameCompany{
    width: 100%;
  }
.align{
  text-align:center;
 }
 .main-title{
   font-size:2em;
 }
 .main-subtitle{
font-size: 1em;
}
.foot {
  font-size:0.95em;
}
}
@media (max-width: 414px) { 
  .logo{
     margin-left: 12%;
  }
  .main-title {
    font-size: 2em;
    line-height: 1.2;
}
.btn-my {
   margin-left: 27.5%;
 }
   .textSec {
    height: 565px;
}
.foot{
  width: 70%;
  margin-left: 17%;
  margin-top: 4%;
}
.main-section {
    margin-top: 223px;
}
.marg{
  margin-top: 25px; 
}
footer.row{
  margin-top: 80px!important
}
}
